:root {
    --primary: #EA580C;
    --secondary-dark: #666666;
    --secondary-light: #D8D8D8;
    --human-accent: #B02700;
    --bot-accent: #0056C5;
}
div {
    /* border: 1px solid black; */
}

body {
    margin: 0px;
    /* background-color: var(--secondary-dark); */
}


h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
}
h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 10px 0px;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* navbar */
.navbar {
    background-color: var(--secondary-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}

.navbar .btn {
    display: flex;
    padding: 5px;
    border-radius: 10px;
    border: solid black 3px;
    /* box-shadow: 3px 3px black; */
}

.scores {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card {
    background-color: var(--secondary-light);
    flex: 1;
    border-radius: 20px;
    border: 6px black solid;
    padding: 20px;
}

.human {
    background-color: var(--human-accent);
}

.bot {
    background-color: var(--bot-accent);
}

.scorecard-text {

    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    color: white;
    opacity: 0.8;
}
.bot-score,
.human-score {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
    text-align: center;
    color: white;
    font-size: 56px;
}
.arena {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.arena-content {
    display: flex;
    display: none;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
    align-items: center;
}
.versus {
    padding: 0px;
    font-size: 35px;
    font-family: "Jersey 10";
}

.arena-text,
.player-name,
.status-card
{
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}

.player-name {
    /* background-color: green; */
}
.player-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.player-symbol {
    height: 100px;
    width: 100px;
    background-color: white;
    border: 5px black solid;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px;
}

.verdict {
    font-family: "Press Start 2P", sans-serif;
    font-size: 24px;
}
.human-card .player-symbol {
    color: var(--human-accent);
}

.bot-card .player-symbol {
    color: var(--bot-accent);
}

.status-card {
    display: none;
    background-color: var(--primary);
    border-radius: 20px;
    padding: 10px;
    border: 5px black solid;
}

.player-choices {
    /* display: none; */
    display: flex;
    gap: 20px;
    justify-content: center;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choice .btn {
    border-radius: 20px;
    border: solid black 5px;
}
.btn {
    box-shadow: 5px 5px black;
    margin: 5px;
    cursor: pointer;
}
.btn:active {
    margin: 0px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: none;
}
.btn:hover {
    background-color: var(--primary);
}